@model FirstProject.Models.User
@{
    ViewData["Title"] = "kullanicilar";
}

<h1>Partail'dan Gelen Kısımı'</h1>
<hr />
<table class="table table-responsive ">
    <tr>
        <th>Ad:</th>
        <td>@Model.Name</td>
    </tr>
      <tr>
        <th>Soyad:</th>
        <td>@Model.Surname</td>
    </tr>
